{% extends 'base/base.html' %}
{% block title %}Violations{% endblock %}
{% block content %}
<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left"><h3>Violation Types</h3></div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <a href="/addviolation">
            <button type="button" class="btn custom-button float-right">
              <i class="fa fa-plus m-right-xs"></i> Add Violation Type
            </button>
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>#</th>
                <th>Violation Type</th>
              </tr>
            </thead>
            <tbody>
              {% for v in violations %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ v.violation_type }}</td>
              </tr>
              {% empty %}
              <tr><td colspan="2" class="text-center">No violation types defined yet.</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
